<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="">
      <form action="/updatesearch">
   <h3>SEARCH STUDENT</h3>
   
    <hr>
 
    <label for="phn"><b>Phone no</b></label>
    <input type="phone" style="width:200px;" placeholder="type phone no to be searched" name="phone" id="phone" required>

    <button type="submit" class="registerbtn">SEACRH STUDENT</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a>

    <br>
  {{#if umesg}}
     <h3>Data Updated</h3>
     {{/if}}

   {{#if mesg2}}
     <h3>Data Not Found!</h3>
     {{/if}}


    </form>
  </div>
<!--search form-->

  {{#if mesg1}}
     <div class="container">
       <form action="/updatestudent"  >
   <h3>Update student</h3>
   
    <hr>
    {{#data}}

    <label for="name"><b>Student name</b></label>
    <input type="text" placeholder="Enter Name" name="c_name"  value="{{c_name}}" id="c_name" required>

    <label for="phn"><b>Phone no</b></label>
    <input type="phone" placeholder="Enter Phone Number" name="phone" value="{{phone}}"id="phone" required >

    <label for="eml-id"><b>Email Id</b></label>
    <input type="email" placeholder="Enter Email Id" name="email" value="{{email}}" id="email" required >
   
  <div class="gender_g">
     <strong>Gender</strong>
     <input type="radio" name="gender" id="" value="Male" required> Male
     <input type="radio" name="gender" id=""  value="Female" required>  Female
  </div>
    <button type="submit" class="registerbtn">Update Student</button>
    {{/data}}

  
    <a href="./" style="color:black">BACK TO HOME PAGE</a> <br>
   
    
</form>
</div>
     {{/if}}


</body>
</html>